body {
  background-color: #472d30;
}

h1 {
  color: #e26d5c;
}
p {
  color: #c9cba3;
}
blockquote {
  background-color: #472d30;
}

#contactButton {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffe1a8;
  background-color: #723d46;
  cursor: pointer;
  display: inline;

  font-family: 'Source Sans Pro', sans-serif;


}

#resumeButton {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffe1a8;
  background-color: #723d46;
  cursor: pointer;

  font-family: 'Source Sans Pro', sans-serif;


}

#DougThumbnail{
    padding: 25px;
}

  

