body {
  background-color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a{
    text-decoration: none;
}
h1 {
  color: #b90504;
  font-size: 50px;
}
p {
  color: #990100;
}
code {
  background-color: #990100;
  color: #e8e8e8;
  font-size: 25px;
  border-color: #b90504;
  border: 3px;
}

#contactButton {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  color: white;
  background-color: #333333;
  cursor: pointer;
  display: inline;

  font-family: "Source Sans Pro", sans-serif;
}

#resumeButton {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  color: #e8e8e8;
  background-color: #333333;
  cursor: pointer;

  font-family: "Source Sans Pro", sans-serif;
}

#DougThumbnail {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: -50px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.dialog {
  width: 500px;
  height: 500px;
  background-color: black;
  opacity: 0.8;
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
}

.bounce:hover{
    animation: bounce 1.5s ease-out;
}
#mainBanner{
  transition: width 2s, height 2.5s;
  width: 750px;
  height: 50px;
}


@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}
