body {
  background-color: #472d30;
}

h1 {
  color: #e26d5c;
}
p {
  color: #c9cba3;
}
blockquote {
  background-color: #472d30;
}

#contactButton {
  border: none;
  border-radius: 10px;
  font-size: 35px;
  padding: 10px;
  color: #ffe1a8;
  background-color: #723d46;
  cursor: pointer;
  display: inline;

  transition: color 1s ease-out;
}

#resumeButton {
  border: none;
  border-radius: 10px;
  font-size: 35px;
  padding: 10px;
  color: #ffe1a8;
  background-color: #723d46;
  cursor: pointer;

  transition: color 1s ease-out;
}

button :hover{
    color: blue;  
  }
  
#resumeButton  :hover{
  color: blue;  
}
