/* Grid */

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}
/* Style */



.column {
  padding: 15px;

  margin: 5px 0;

}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {

  color: #b90504;
 
}

body {
  background-color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  margin-bottom: 70px;

}
section{
  background-color: white;
}
a{
    text-decoration: none;
}

p {
  color: #990100;
}
code {
  background-color: #990100;
  color: #e8e8e8;
  font-size: 25px;
  border-color: #b90504;
  border: 3px;
}

#contactButton {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  color: white;
  background-color: #333333;
  cursor: pointer;
  display: inline;

  font-family: "Source Sans Pro", sans-serif;
}

#resumeButton {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  color: #e8e8e8;
  background-color: #333333;
  cursor: pointer;

  font-family: "Source Sans Pro", sans-serif;
}

#DougThumbnail {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: -50px;
}

.flexChildCenter{
  display: flex;
  justify-content: center;
}
#dialogWrapper {
  width: 100%;
  height: 100%;
  background-color: #333333;

 opacity: 0;

  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
 
  z-index: -1;

  transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
}
#dialog {
  width: 500px;
  height: 500px;
  background-color: white;
  opacity: 1;
  border-radius: 5px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25%;
  text-align: center;

}

.bounce:hover{
    animation: bounce 1.5s ease-out;
}
.appBlurb{
  font-size: 20px;
  width: 25%;
}
#mainBanner{
  transition: width 2s, height 3s;
  width: 600px;
  height: 50px;

}
.sectionHead{
  text-align: center;
}




@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}
