body {
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  color: #b90504;
  font-size: 50px;
}
p {
  color: #990100;
}
blockquote {
  background-color: #472d30;
}

#contactButton {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  color: #e8e8e8;
  background-color: #333333;
  cursor: pointer;
  display: inline;

  font-family: "Source Sans Pro", sans-serif;
}

#resumeButton {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  color: #e8e8e8;
  background-color: #333333;
  cursor: pointer;

  font-family: "Source Sans Pro", sans-serif;
}

#DougThumbnail {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: -50px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.dialog {
  width: 500px;
  height: 500px;
  background-color: black;
  opacity: 0.8;
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
}
